@font-face {
  font-family: 'Be Vietnam Pro';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('/BeVietnamPro-VariableItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/BeVietnamPro-Variable.woff2') format('woff2');
}

@font-face {
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/Fredoka-Variable.woff2') format('woff2');
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/Inconsolata-Variable.woff2') format('woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --brand: theme('colors.brand-pink');
    scrollbar-color: var(--brand) Canvas;
    color-scheme: dark;
  }

  :root {
    accent-color: var(--brand);
  }
  :focus-visible {
    outline-color: var(--brand);
  }
  ::selection {
    background-color: var(--brand);
  }
  ::marker {
    color: var(--brand);
  }

  :is(::-webkit-calendar-picker-indicator, ::-webkit-clear-button, ::-webkit-inner-spin-button, ::-webkit-outer-spin-button) {
    color: var(--brand);
  }
  html {
    @apply bg-black text-white overflow-x-hidden;
  }

  body {
    @apply font-sans min-h-screen flex flex-col;
  }

  [type='radio'],
  [type='checkbox'] {
    @apply cursor-pointer disabled:cursor-not-allowed;
  }

  #root {
    @apply flex flex-grow flex-col;
  }

  .link {
    @apply text-pink-300 underline hover:no-underline focus:text-pink-400 focus:no-underline;
  }
}

@layer components {
  .container {
    @apply w-full max-w-screen-lg px-3;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}
.toast-group [data-part='root'] {
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-duration: 0.2s;
}

.toast-group [data-part='root']:not([data-open]) {
  animation-duration: var(--remove-delay);
  animation-name: fadeOut;
}
