@font-face {
  font-family: 'Be Vietnam Pro';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('/BeVietnamPro-VariableItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/BeVietnamPro-Variable.woff2') format('woff2');
}

@font-face {
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/Fredoka-Variable.woff2') format('woff2');
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/Inconsolata-Variable.woff2') format('woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --brand: theme('colors.brand-pink');
    scrollbar-color: var(--brand) Canvas;
    color-scheme: dark;
    accent-color: var(--brand);
  }

  main {
    @apply pb-20 animate-appear;
  }
  :focus-visible {
    outline-color: var(--brand);
  }
  ::selection {
    background-color: var(--brand);
  }
  ::marker {
    color: var(--brand);
  }

  ::-moz-color-swatch,
  ::-webkit-color-swatch {
    @apply border-0 overflow-hidden;
  }

  input[type='color'] {
    @apply w-10 h-10 p-1 overflow-hidden;
  }

  :is(::-webkit-calendar-picker-indicator, ::-webkit-clear-button, ::-webkit-inner-spin-button, ::-webkit-outer-spin-button) {
    color: var(--brand);
  }
  html {
    @apply bg-black text-white overflow-x-hidden;
  }

  body {
    @apply font-sans min-h-screen flex flex-col;
  }

  [type='radio'],
  [type='checkbox'] {
    @apply cursor-pointer disabled:cursor-not-allowed;
  }

  #root {
    @apply flex flex-grow flex-col;
  }

  .link {
    @apply text-pink-300 underline hover:no-underline focus:text-pink-400 focus:no-underline;
  }
}

@layer base {
  .bg-user-custom-color {
    background-color: var(--layer);
  }

  .border--accent {
    border-color: var(--accent);
  }

  .bg--accent {
    background-color: var(--accent);
  }
  .input-error-border {
    @apply border-negative-600 focus:border-negative-800;
  }

  .input-error-layer {
    @apply bg-negative-900 hover:bg-negative-200 text-negative-400;
  }

  .input-report-error[aria-invalid='true'],
  .input-report-error:not(:placeholder-shown):invalid,
  .default-input[aria-invalid='true'],
  .default-input:not(:placeholder-shown):invalid {
    @apply bg-negative-900 bg-opacity-25 hover:bg-opacity-40 border-negative-600 focus:border-negative-800 text-negative-400 !important;
  }
}

@layer components {
  .container {
    @apply w-full max-w-screen-lg px-3;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}

:root {
  --accent-user-profile: ;
}
#page-user-profile {
  accent-color: var(--accent-user-profile);
}

.toast-group [data-part='root'] {
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-duration: 0.2s;
}

.toast-group [data-part='root']:not([data-open]) {
  animation-duration: var(--remove-delay);
  animation-name: fadeOut;
}
